@charset "UTF-8";

/* userListForm.css */

html {
  /* 가로 스크롤 */
	overflow: auto;
	white-space: nowrap;
}

h4 {
    display: inline-block;
}

a {
	text-decoration : none;
	color : black;
}

label {
    padding-right: 40px;
}

button {
    border-radius: 5px;
}

#title {
	text-align: center;
}

#wrap {
	display: flex;
	
}

#excelBtn {
	margin-left: 720px;
}

div#linkSearchBox {
    display: flex;
    margin-bottom: -10px;
    margin-top: -10px;
}

#userListForm {
	margin: 0 auto;
	width: 1440px;
}

#searchPlace{
    margin-left: 25px;
    margin-top: 20px;
}

input[type="submit"] {
    border-radius: 5px;
}

#tableWholeSpace {
    margin-top: 10px;
    position: static;
}

#tableWholeContent {
	border: 1px solid;
}

#tableWholeContent :nth-child(2n) {
	background: #efefef;
}

.tableSpace {
	border: 2px solid black;
    background: gainsboro;
    padding-top: 8px;
    padding-bottom: 8px;
}

#updateForm {
	border: 1px solid;
}

.tableContentSpace {
	border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tableCol {
	display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    width: 10%;
}

#tableChkBox {
	width: 5%;
}

.tableSpace :nth-child(7n+1) {
	margin: 0%;
 			margin-right: -70px;
}

.tableSpace :nth-child(7n+2) {
	width: 5%;
	margin-right: 50px;
}

.tableSpace :nth-child(7n+3) {
	width: 11%;
}

.tableSpace :nth-child(7n+4) {
	width: 12%;
	margin-right: 3%;
}

.tableSpace :nth-child(7n+5) {
	width: 13%;
}

.tableSpace :nth-child(7n+6) {
	width: 16%;
}

.tableSpace :nth-child(7n+7) {
	width: 10%;
}

.tableContentSpace :nth-child(7n+1) {
	margin: 0%;
 			margin-right: -70px;
}

.tableContentSpace :nth-child(7n+2) {
	width: 5%;
	margin-right: 50px;
	background: transparent !important;
}

.tableContentSpace :nth-child(7n+3) {
	width: 11%;
}

.tableContentSpace :nth-child(7n+4) {
	width: 12%;
	margin-right: 3%;
	background: transparent !important;
}

.tableContentSpace :nth-child(7n+5) {
	width: 13%;
}

.tableContentSpace :nth-child(7n+6) {
	width: 16%;
	background: transparent !important;
}

.tableContentSpace :nth-child(7n+7) {
	width: 10%;
}

#userCheck {
	width: 13px !important;
}

div#pageUpdateDelete {
 	position: absolute;
    margin-top: 15px;
    display: flex;
}

.pagelist {
    margin-left: 10px;
    width: 1305px;
}


#updateBtn {
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

#deleteBtn {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

